<!doctype html>
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon-32x32.png' %}" type="image/png' %}" />
    <link href="{% static 'plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
    <link href="{% static 'plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-extended.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/icons.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
    <link href="{% static 'css/pace.min.css' %}" rel="stylesheet" />
    <!--Theme Styles-->
    <link href="{% static 'css/dark-theme.css' %}" rel="stylesheet" />
    <link href="{% static 'css/light-theme.css' %}" rel="stylesheet" />
    <link href="{% static 'css/semi-dark.css' %}" rel="stylesheet" />
    <link href="{% static 'css/header-colors.css' %}" rel="stylesheet" />
    <title>{% block 'title' %}{% endblock 'title' %}</title>
</head>

<body>


    <!--start wrapper-->
    <div class="wrapper">
        <!--start top header-->
        <header class="top-header">
            <nav class="navbar navbar-expand">
                <div class="mobile-toggle-icon d-xl-none">
                    <i class="bi bi-list"></i>
                </div>

                <div class="search-toggle-icon d-xl-none ms-auto">
                    <i class="bi bi-search"></i>
                </div>
                <form class="searchbar d-none d-xl-flex ms-auto">
                    <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i
                            class="bi bi-search"></i></div>
                    <input class="form-control" type="text" placeholder="Type here to search">
                    <div class="position-absolute top-50 translate-middle-y d-block d-xl-none search-close-icon"><i
                            class="bi bi-x-lg"></i></div>
                </form>
                <div class="top-navbar-right ms-3">
                    <ul class="navbar-nav align-items-center">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown dropdown-large">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
                                data-bs-toggle="dropdown">
                                <div class="user-setting d-flex align-items-center gap-1">
                                    <img src="/media/{{ request.user.profile_image }}" class="user-img" alt="">
                                    <div class="user-name d-none d-sm-block">{{ request.user.first_name }} {{request.user.last_name }}</div>
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex align-items-center">
                                            <img src="/media/{{ request.user.profile_image }}" alt=""
                                                class="rounded-circle profile" width="60" height="60">
                                            <div class="ms-3">
                                                <h6 class="mb-0 dropdown-user-name">{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                                                <small class="mb-0 dropdown-user-designation text-secondary">{{request.user.designation }}</small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url "profile" %}">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon"><i class="bi bi-person-fill"></i></div>
                                            <div class="setting-text ms-3"><span>Profile</span></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url "logout" %}">
                                        <div class="d-flex align-items-center">
                                            <div class="setting-icon"><i class="bi bi-lock-fill"></i></div>
                                            <div class="setting-text ms-3"><span>Logout</span></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <!--end top header-->

        <!--start sidebar -->
        <aside class="sidebar-wrapper">
            <div class="iconmenu">
                <div class="nav-toggle-box">
                    <div class="nav-toggle-icon"><i class="bi bi-list"></i></div>
                </div>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboards">
                        <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-dashboards"
                            type="button"><i class="bi bi-house-door-fill"></i></button>
                    </li>

                </ul>
            </div>
            <div class="textmenu">
                <div class="brand-logo text-center">
                    {% comment %} <img src="{% static 'images/brand-logo-2.png' %}" width="140" alt="" /> {% endcomment %}
                    <h2 class="text-primary"><em>FunDay </em></h2>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="pills-dashboards">
                        <div class="list-group list-group-flush">
                            {% comment %} <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-0">Dashboards</h5>
                                </div>
                                <small class="mb-0">Some placeholder content</small>
                            </div> {% endcomment %}

                            <a href="{% url 'home' %}" class="list-group-item"><i
                                    class="bi bi-speedometer2"></i>Dashboard</a>
                            <a href="{% url 'project' %}" class="list-group-item"><i
                                    class="bi bi-cast"></i></i>Projects</a>
                            <a href="{% url 'task' %}" class="list-group-item"><i class="bi bi-list-task"></i>My Tasks</a>
                            {% if request.user.is_staff == 1 %}<a href="{% url 'registration' %}"
                                class="list-group-item"><i class="bi bi-person-add"></i>Register User</a>{% endif %}
                            {% comment %} <a href="{% url " files" %}" class="list-group-item"><i
                                    class="bi bi-cast"></i></i>Files</a> {% endcomment %}
                        </div>
                    </div>

                </div>
            </div>
        </aside>
        <!--end sidebar -->


        {% block 'content' %}{% endblock 'content' %}
        <div></div>


        <!--start overlay-->
        <div class="overlay nav-toggle-icon"></div>
        <!--end overlay-->

        <!--Start Back To Top Button-->
        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->

        <!--start switcher-->
        <div class="switcher-body">
            <button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
                    class="bi bi-paint-bucket me-0"></i></button>
            <div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true"
                data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <h6 class="mb-0">Theme Variation</h6>
                    <hr>
                    <form method="post" action="{% url 'themechange' %}">
                        {% csrf_token %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme"
                                value="light">
                            <label class="form-check-label" for="LightTheme">Light</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="DarkTheme"
                                value="dark">
                            <label class="form-check-label" for="DarkTheme">Dark</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDarkTheme"
                                value="semidark">
                            <label class="form-check-label" for="SemiDarkTheme">Semi Dark</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <hr>

                    {% comment %} <h6 class="mb-0">Header Colors</h6>
                    <hr />
                    <div class="header-colors-indigators">
                        <div class="row row-cols-auto g-3">
                            <div class="col">
                                <div class="indigator headercolor1" id="headercolor1"></div>
                            </div>
                            <div class="col">
                                <div class="indigator headercolor2" id="headercolor2"></div>
                            </div>
                            <div class="col">
                                <div class="indigator headercolor3" id="headercolor3"></div>
                            </div>
                            <div class="col">
                                <div class="indigator headercolor4" id="headercolor4"></div>
                            </div>
                            <div class="col">
                                <div class="indigator headercolor5" id="headercolor5"></div>
                            </div>
                            <div class="col">
                                <div class="indigator headercolor6" id="headercolor6"></div>
                            </div>
                            <div class="col">
                                <div class="indigator headercolor7" id="headercolor7"></div>
                            </div>
                            <div class="col">
                                <div class="indigator headercolor8" id="headercolor8"></div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
        <!--end switcher-->
    </div>
    <!--end wrapper-->


    <!-- Bootstrap bundle JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'plugins/simplebar/js/simplebar.min.js' %}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
    {% comment %}
    <script src="{% static 'js/pace.min.js' %}"></script> {% endcomment %}
    {% comment %}
    <script src="{% static 'plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script> {% endcomment %}
    <script src="{% static 'plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/table-datatable.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/index5.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#copyButton").click(function () {
                var inputValue = $("#copyText").val();
                var tempTextarea = $("<textarea>");
                tempTextarea.val(inputValue);
                $("body").append(tempTextarea);
                tempTextarea.select();
                tempTextarea[0].setSelectionRange(0, 99999); // For mobile devices
                document.execCommand("copy");
                tempTextarea.remove();
                //$("#copyStatus").text("Text copied to clipboard: " + inputValue);
                //alert('Hello');
            });
        });
        CKEDITOR.replace('commemts', {
        // Define the toolbar groups as it is a more accessible solution.
        toolbarGroups: [
            {
                "name": "basicstyles",
                "groups": ["basicstyles"]
            },
            {
                "name": "links",
                "groups": ["links"]
            },
            {
                "name": "paragraph",
                "groups": ["list"]
            },
           
            
            
        ],
        // Remove the redundant buttons from toolbar groups defined above.
        removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar,PasteFromWord'
        });

    </script>
</body>

</html>