{% extends "base.html" %}

{% block 'title' %}Blog{% endblock 'title' %}
{% block 'banner' %}
    <section class="inner-banner center">
        <div class="container">
            <h1>Blog</h1>
        </div>
    </section>
{% endblock 'banner' %}


{% block 'content' %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row gy-4">
                        {% for x in posts %}
                        <div class="col-md-4">
                            <img src="/media/{{ x.thumbnail }}" class="img-fluid mb-3">
                            <p>{{ x.date_created|date:"M d, Y" }}</p>
                            <h4>{{ x.title }}</h4>
                            <a href="{% url "blogdetail" x.slug %}">Read More</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock 'content' %}

    
